<!--todo: style it nicer-->
<div class="row">
  <ul>
    <li ng-repeat="item in foundList.foundItems" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="menu-tile well">
        <h3 class="text-center">({{item.short_name}}) {{item.name}}</h3>
        <p ng-bind-html="foundList.trust(item.description)"></p>
        <button ng-click="foundList.onRemove({index: $index})" class="btn btn-danger btn-sm btn-remove">Don't want this one!</button>
      </div>
    </li>
  </ul>
  <div ng-if="foundList.foundItems.length === 0"><h3 class="text-center">Nothing found!</h3></div>
</div>